{% extends 'base.html.twig' %}

{% block title %}Recherche club{% endblock %}

{% block body %}
<div class="box" style="padding: 0px 90px;">
    {# SEARCH #}
    <div class="body_root_form">
        <form action="" class="root_form">
            <div class="recherche_page_form_flex">
                <div class="root_serch_icon">
                </div>
                <label for="form_name">Le nom du club:</label>
                <input class="root_serch_bar" type="search" id="form_name" placeholder="" aria-label="Search">
            </div>
            <div class="recherche_page_form_flex">
                <div class="root_serch_icon">
                </div>
                <label for="form_code_postal">Code postal: </label>
                <input class="root_serch_bar" type="search" id="form_code_postal" placeholder="" aria-label="Search">
            </div>
            <div class="recherche_page_form_flex">
            </div>
        </form>
    </div>

    <p class="recherche_page_text_resulta">Resulta de recherche:</p>
    <div class="recherche_page_wrap_resulta">
        {% for club in clubs %}
        <a href="{{ path('club_profile', { 'id': club.id }) }}" class="recherche_page_resulta_link">
            <div class="recherche_page_resulta">
                <div class="resulta_photo">
                    {% if club.Avatar %}
                    <img src="{{ asset('/uploads/avatars_club/' ~ club.Avatar) }}" alt="">
                    {% else %}
                    <img src="{{ asset('images/god.jpg') }}" alt="photo_profile">
                    {% endif %}
                </div>
                <div class="resulta_text">
                    <p class="resulta_text_name">{{club.name}}</p>
                    <p class="resulta_text_description">{{club.region}}</p>
                    <p>{{club.description}}</p>
                </div>
            </div>
        </a>


        {% endfor %}
        
        <div class="recherche_page_resulta">
            <div class="resulta_photo">
                <img src="{{ asset('images/profile_test.png') }}" alt="">
            </div>
            <div class="resulta_text">
                <p class="resulta_text_name">Tenis</p>
                <p class="resulta_text_description">Orleans</p>
                <p>Le groupe des amateurs de tennis dans notre 
                club est l'endroit idéal pour tous ceux qui souhaitent
                 profiter de ce jeu dynamique et passionnant. Nous nous réunissons 
                 régulièrement sur les courts de tennis pour des matchs amicaux, des
                  entraînements et des échanges...</p>
            </div>
        </div>

        <div class="recherche_page_resulta">
            <div class="resulta_photo">
                <img src="{{ asset('images/profile_test.png') }}" alt="">
            </div>
            <div class="resulta_text">
                <p class="resulta_text_name">Tenis</p>
                <p class="resulta_text_description">Orleans</p>
                <p>Le groupe des amateurs de tennis dans notre 
                club est l'endroit idéal pour tous ceux qui souhaitent
                 profiter de ce jeu dynamique et passionnant. Nous nous réunissons 
                 régulièrement sur les courts de tennis pour des matchs amicaux, des
                  entraînements et des échanges...</p>
            </div>
        </div>

        <div class="recherche_page_resulta">
            <div class="resulta_photo">
                <img src="{{ asset('images/profile_test.png') }}" alt="">
            </div>
            <div class="resulta_text">
                <p class="resulta_text_name">Tenis</p>
                <p class="resulta_text_description">Orleans</p>
                <p>Le groupe des amateurs de tennis dans notre 
                club est l'endroit idéal pour tous ceux qui souhaitent
                 profiter de ce jeu dynamique et passionnant. Nous nous réunissons 
                 régulièrement sur les courts de tennis pour des matchs amicaux, des
                  entraînements et des échanges...</p>
            </div>
        </div>

        <div class="recherche_page_resulta">
            <div class="resulta_photo">
                <img src="{{ asset('images/profile_test.png') }}" alt="">
            </div>
            <div class="resulta_text">
                <p class="resulta_text_name">Tenis</p>
                <p class="resulta_text_description">Orleans</p>
                <p>Le groupe des amateurs de tennis dans notre 
                club est l'endroit idéal pour tous ceux qui souhaitent
                 profiter de ce jeu dynamique et passionnant. Nous nous réunissons 
                 régulièrement sur les courts de tennis pour des matchs amicaux, des
                  entraînements et des échanges...</p>
            </div>
        </div>

    </div>

</div>
{% endblock %}
